@charset "utf-8";

/*Início da Tela de início*/

* {
    margin: 0px;
   padding: 0px;   
    }

body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif; 
    }

    nav {
        min-width: 300px;
        max-width:  100%;
        background-color: #232020;
        color: white;
        display: flex;
        height: 125px;
        margin: auto;
        }
        
    .menusup {
        width: 99%; 
        display: flex; 
        color: white;  
        padding: 2px; 
        list-style: none;  
        min-width: 300px;
        max-width:  100%;}

    .menusup > li {width: 100%; padding: 5px; border-radius: 2px;}

    


        header {
            width: 100%;
            min-height: 150px;
            min-width: 300px;
            max-width:  100%;
            margin: auto;
            background-image: linear-gradient(to Bottom, #AF0001, #5e1616); 
            
                    }

        header > h1 {
       
            text-align: center;
            margin-top: 40px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: white;
            text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.452);
            margin-bottom: 0px;
            
                    }

     header > p {
        padding-top: 15px;
        padding-bottom: 40px;
        font-size: 24px;    
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: white;
        text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.452);
                 }
    

 article {
    text-align: justify;
    padding: 20px;   
}

section > h1 {margin: 10px;}
section > li {margin-left: 40px;}



.menulist {
    padding-top: 50px;
    border-radius: 10px;
    width: 50%;
}

.menulist:hover {background-color: #333;}


.menulist:hover > ul {display: flex;}

li  {margin: 5px 5px; padding-left: 20px;}

Li > a {color: white; text-decoration: none;}

a:hover {text-decoration: underline;}

.contatolist {
    border-radius: 10px;
    padding-top: 50px;
    width: 50%; 
                }

.contatolist:hover {background-color: #333;}

.contatolist:hover > address{background-color: #232020; display: block;}

main {
    min-width: 300px;
    max-width:  100%;
    text-align: center;
    box-shadow: 3px 4px 5px 3px rgba(0, 0, 0, 0.3);;
    margin: auto;
    background-color: #ffffff;

}

picture >img {width:100%; 
    margin: 0px; 
    padding: 0px;  
    min-width: 300px;
    max-width:  100%;
            }

/*Final Tela de Início*/

/*Cardápio*/

.card {margin-top: 50px; margin-bottom: 30px;}
.card > h1 {color: #AF0001; ;}


.subtitulo {width: 600px; padding-top: 5px; font-style: italic; font: normal 8pt arial; margin: auto;}

.cardapio {display:flex; min-width: 300px;
    max-width:  100%;}

.opcoescard {
    min-width: 300px;
    max-width: 100%;
    color: white;
    border-radius: 10px;
    margin: auto;
    background-color: #333; 
    width:800px; 
    height: 450px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.opcoescard > h1 {margin-top: 30px;}
.opcoescard > p {padding: 20px 25px 10px 25px; text-align: ; font: normal 11pt arial;}
.opcoescard > p > img {margin-top: 30px; margin-left: 15px;}
.opcoescard > img { float: left; padding: 10px; border: white 8px solid; border-radius: 2px; margin: 20px; display: flex;}








footer {
    margin-top: 5%;
    text-align: center;
    font-size: 8px;
    color: white; 
    height: 80px; 
    background-color: #333;
    padding: 10px;
}

